// variables 

$font-trump: 'Trump Gothic Pro', sans-serif;
$font-caslon: 'Big Caslon', serif;



// style


* {
	box-sizing: border-box;

}

html, body {
	margin: 0;
	padding: 0;
	font-family: $font-trump;
	font-size: 16px;
	letter-spacing: 1.5px;
	-webkit-font-smoothing: antialiased;
	color: #000;

}

img {
	max-width: 100%;
	height: auto;
}

a:link, a:active, a:visited, a {
	color: #000;
}


.main {
	position: fixed;
	width: 100%;
	height: 100%;

}

.logo {
	position: fixed;
	width: 170px;
	top: 30px;
	left: 30px;
	z-index: 90;
}

.fullpage-menu {
	position: fixed;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 50;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 15px 0;
			overflow: hidden;


			a {
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
}


.section {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;

}

.section.active {
	opacity: 1;
	transition: 1s 0.4s;
}

.big-text {
	font-size: 15vw;
	color: rgba(#000, 0.03);
	font-family: $font-caslon;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	will-change: transform;
	
	white-space: nowrap;

	transform: translate3D(-50%, -50%, 0) scale3D(0.9,0.9,0.9);
	transition: 1s ease-out;
}

.active .big-text {
	transform: translate3D(-50%, -50%, 0) scale3D(1,1,1);
	transition: 8s ease-out 0.3s;
}

.section-home {

	//transition: 5s 5s;
	

	.home__inner {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
	pointer-events: all;
}

.swiper-wrapper {
	transition-timing-function: cubic-bezier(0.42, 0, 0, 0.99);
	will-change: transform;
}

.section-mockup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	top: 50%;
	left: 50%;
	z-index: 10;
	will-change: transform;
	
	transform: translate3D(-50%, -50%, 0) scale3D(1.1,1.1,1.1);
	transition: transform 1s ease-out 0s, opacity 0.5s;

	img {
		max-width: 1200px;
		max-height: 80vh;

		width: 80vw;
		
		display: block;
		margin: 0 auto;
		object-fit: contain;

	}
}

.active .section-mockup {
	opacity: 1;
	transform: translate3D(-50%, -50%, 0) scale3D(1,1,1);
	transition: transform 5s ease-out 0.3s, opacity 0s 0s;
}

.color-block {
	position: absolute;
	left: 50%;
	top: 0;
	width: calc(50% - 10px);
	height: calc(100% - 20px);
	transform: scale3D(0,1,1);
	transform-origin: 0 0;
	will-change: transform;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0s ease-out 1s;

	* {
		color: #fff;
	}

}

.active .color-block {
	transform: scale3D(1,1,1);
	transition: 3.5s cubic-bezier(0.42, 0, 0, 0.99) 0.5s;
}

.text-block {
	position: absolute;
	right: 40px;
	top: 60%;
	pointer-events: all;

	h2 {
		color: #fff;
		font-family: $font-caslon;
		font-size: 40px;
		position: relative;

		span {
			display: block;
			width: 100%;
			height: 100%;

		}

	}

}


.section-webdesign {

	.color-block {
		background: #0098ef;
		//background: #222528;
	}
}

.section-mobile-apps {

	.color-block {
		background: #fa6d3f;
	}
}

.section-branding {

	.color-block {
		background: #29a541;
	}

	.section-mockup {
		
		transform: translate3D(-50%, -50%, 0) scale(1.1);

		img {
			width: 70%;
			max-width: 900px;
		}
	}
}

.active.section-branding {

	.section-mockup {
		transform: translate3D(-50%, -50%, 0) scale(1);
	}
}

.section-print {

	.color-block {
		background: #ff9d33;
	}
}

.swiper-pagination {
	z-index: 99999;
}





















